doctype html
html
    head
        block head
        block style
            link(href='/stylesheets/style.css', rel='stylesheet')
            link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
            link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
            link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    body

        form.form-signin(method='post')
            h2.form-signin-heading Please sign in
            input.form-control(type="text" name="username" placeholder="Username" required autofocus)
            input.form-control(type='password' name="password" placeholder="Password" required)
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit

        block script
            script(src='/bower_components/jquery/dist/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')